snippet frontmatter Markdown Frontmatter
	---
	tags: $1
	---

snippet daily Daily Tasks
	* [ ] @Daily Zabbix
	* [ ] @Daily Backup
	* [ ] @Daily Backup2
	* [ ] @Daily Inbox 0
	* [ ] @Daily Logmail

snippet :star: Star emoji
  ⭐
